{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
        Pet store sales of sulcatas are controversial because the tortoises are about the size of a silver dollar when
        they are young and shoppers may not be aware of what they are signing up for — resulting in poor care,
        mistreatment or abandonment. In fact, the American Tortoise Rescue is calling for a moratorium on Sulcata sales
        because full-grown, unwanted tortoises are swamping rescues and zoos cannot take them all.
    </p>

    {% for tort in tortoises %}

        <div class="row featurette">
            <div class="col-md-7">
                <h3>{{ tort.name }}</h3>
                <p>{{ tort.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ tort.image_source }}" class="featurette-image image-responsive" alt="Pearl the tortoise">
            </div>
        </div>

        <hr class="featurette-divider">

    {% endfor %}

{% endblock %}
