{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
        Pet store sales of sulcatas are controversial because the tortoises are about the size of a silver dollar when
        they are young and shoppers may not be aware of what they are signing up for — resulting in poor care,
        mistreatment or abandonment. (In fact, the American Tortoise Rescue is calling for a moratorium on Sulcata sales
        because full-grown, unwanted tortoises are swamping rescues and zoos cannot take them all.)
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Pearl the African tortoise</h3>
            <p>
                Pearl is not a cuddler. She is more like the quirky, misunderstood heroine of an art-house film with a
                tough outer shell and a mushy center with a heart of gold. To be specific, she is a spurred African
                sulcata tortoise we picked up (quite literally) half a world away from her native Saharan motherland —
                in a leafy suburban neighborhood just south of Los Angeles.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://ca-times.brightspotcdn.com/dims4/default/92f10d2/2147483647/strip/true/crop/2048x1152+0+0/resize/1200x675!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F2a%2Fcb%2F78aad65e0e4e9cc450b691c8ca96%2Fla-1503698846-jyzvlup8ui-snap-image" alt="Pearl the tortoise">
        </div>
    </div><br>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Testudo_horsfieldii%3B_Baikonur_001.jpg/1280px-Testudo_horsfieldii%3B_Baikonur_001.jpg" alt="Russian tortoise">
        </div>
        <div class="col-md-7">
            <h3>Boris the Russian tortoise</h3>
            <p>
                The Russian tortoise (Testudo horsfieldii), also commonly known as the Afghan tortoise, the Central
                Asian tortoise, Horsfield's tortoise, four-clawed tortoise, and the (Russian) steppe tortoise, is
                a threatened species of tortoise in the family Testudinidae. The species is endemic to Central Asia.
                Human activities in its native habitat contribute to its threatened status.
            </p>
        </div>
    </div><br>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin the turtle</h3>
            <p>
                Differences exist in usage of the common terms turtle, tortoise, and terrapin, depending on the variety
                of English being used; usage is inconsistent and contradictory. These terms are common names and do
                not reflect precise biological or taxonomic distinctions.
            </p>
            <p>
                The American Society of Ichthyologists and Herpetologists uses "turtle" to describe all species of the
                order Testudines, regardless of whether they are land-dwelling or sea-dwelling, and uses "tortoise" as a
                more specific term for slow-moving terrestrial species. 
                British usage, by contrast, tends not to use "turtle" as a
                generic term for all members of the order,
                and also applies the term "tortoises" broadly to all land-dwelling members of the order Testudines,
                regardless of whether they are actually members of the family Testudinidae. In Britain, terrapin is
                used to refer to a larger group of semiaquatic turtles than the restricted meaning in America.
            </p>
            <p>
                Tile with two rabbits, two snakes and a tortoise. Illustration for Zakariya al-Qazwini's book, Marvels
                of Things Created and Miraculous Aspects of Things Existing (13th century). Earthenware, molded and
                underglaze-painted decoration. Iran, 19th century.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Tile_al-Qazwini_Louvre_MAO1194.jpg/1024px-Tile_al-Qazwini_Louvre_MAO1194.jpg" alt="Tile with two rabbits, two snakes and a tortoise">
        </div>
    </div><br>

{% endblock %}
